.para {
    font-family: Sofia, monospace;
}
.smaller-img {
    width: 100px;
}
.thick-green-border {
    border-color: green;
    border-width:10px ;
    border-style: solid;
    border-radius: 10px;
}
.cat-image {
    border: 10px solid green;
    float: right;
    width: 200px;
    border-radius: 50%;
}
.silver-backgorund {
    background-color: silver;
}