.para {
    font-family: Sofia, monospace;
}
.smaller-img {
    width: 100px;
}
.thick-green-border {
    border-color: green;
    border-width:10px ;
    border-style: solid;
    border-radius: 10px;
}
.cat-image {
    border: 10px solid green;
    float: right;
    width: 200px;
    border-radius: 50%;
}
.silver-backgorund {
    background-color: silver;
}
#cat-photo-app {
    background-color: green;
}
.injected-text {
    margin-bottom: -25px;
    text-align: center;
  }
.yellow-box {
    background-color: yellow;
    padding: 10px;

}
.red-box {
  background-color: red;
  padding: 40px 20px 20px 40px;
  margin: 40px 20px 20px 40px;
}

 .blue-box {
  background-color: blue;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
 }
 .box {
     border: 5px solid black;
     text-align: center;
 }
 
 [type="checkbox"] {
     margin: 10px 0px 15px 0px;
 }

  