.para {
    font-family: Sofia, monospace;
}
.smaller-img {
    width: 100px;
}
.thick-green-border {
    border-color: green;
    border-width:10px ;
    border-style: solid;
    border-radius: 10px;
}
.cat-image {
    border: 10px solid green;
    float: right;
    width: 200px;
    border-radius: 50%;
}
.silver-backgorund {
    background-color: silver;
}
#cat-photo-app {
    background-color: green;
}
.injected-text {
    margin-bottom: -25px;
    text-align: center;
  }
.yellow-box {
    background-color: yellow;
    padding: 10px;

}
.red-box {
  background-color: red;
  padding: 20px;
  margin: 20px;
}

 .blue-box {
  background-color: blue;
  padding: 10px;
  margin: -15px;
 }
 .box {
     border: 5px solid black;
     text-align: center;
 }

  