.sitelogo {
    width: 40%;
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden; 
   /* background-color: #333;*/
   
}
li {
    float: right;
}
.links li a {
    margin: 3px;
    padding: 4px;
    display: block;
}
.power {
    float: left;
    background-color: rgb(224, 222, 199);
    width: 98%;
    
}
.para {
    width: 20%;
}
.sec1 {
    width: 20%;
    height: 30%;
    background-color: rgb(224, 222, 199);
    float: left;
    margin: 1%;
    padding: 5%;
}