body {
    font-size: small;

}

.sitelogo {
    width: 26%;
    float: left;
    padding-left: 3%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden; 
   /* background-color: #333;*/
   
}
.links li {
    float: right;
}
.links li a {
    margin: 3px;
    padding: 4px;
    display: block;
}
.power {
    float: left;
    background-color: rgb(224, 222, 199);
    width: 100%;
    
    margin-bottom: 2%;
}
.para {
    width: 30%;
}
.sec1 {
    width: 20%;
    height: 100px;
    background-color: rgb(224, 222, 199);
    float: left;
    margin: 3%;
    padding: 3.4%;
}
.sec2 {
    width: 20%;
    height: 190px;
    /* background-color: rgb(224, 222, 199); */
    float: left;
    margin: 3%;
    padding: 2%;
    margin-top: -5%;
}
.section3 {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: -2%;
}
.section3 h2 {
    margin-left: 17%;
    margin-bottom: 10%;
}
.section3 p {
    line-height:19%;
}
.section1 {

    padding: 10px;
    margin-bottom: -3%;
}
/* .section2 {
    margin-top: 350px;
    background-color: rgb(224, 222, 199);
    
}

.section2 li {
    list-style-type: none;
    float: left;
    padding: 0%;
    margin-right: 1%;
    text-align: justify;
}
ul {
    padding-left: 28%;
    padding-bottom: -3%; 
} */

.footer {
    
    margin: 3%;
    list-style-type: none;
    
}
.subscribe {
    margin-top: 430px;
    background-color: aquamarine;
    height: 10%;
    width: 100%;
}
.subscribe div {
    padding-left: 30%;
    padding-bottom: 3%;
}
.subscribe button {
    color: white;
    background-color:rgba(37, 132, 240, 0.911);
    padding:2px;
}


    
